Source: i3-gnome
Priority: optional
Maintainer: Norvald H. Ryeng <norvald@ryeng.name>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0
Homepage: https://github.com/i3-gnome/i3-gnome
Vcs-Browser: https://github.com/i3-gnome/i3-gnome
Vcs-Git: https://github.com/i3-gnome/i3-gnome.git

Package: i3-gnome
Architecture: all
Depends: ${misc:Depends},
    coreutils,
    dbus,
    gnome-flashback,
    gnome-session-bin,
    i3-wm
Suggests: compton
Description: GNOME Flashback session for the i3 window manager (i3-wm)
 This package provides the scripts to show GNOME Flashback with i3 as a
 session type on the login screen.
